<article class="home d-flex flex-wrap">
  <section class="col">
    <button class="btn btn-block">Inicio</button>
  </section>
  <section class="col-8 chartContainer" [chart]="chart"></section>
  <article class="col no-padding">
    <section class="d-flex flex-wrap alignView">
      <div class="img">8</div>
      <div class="data d-flex flex-column">
        <label>8</label>
        <label class="small">días</label>
      </div>
    </section>
    <div class="btn btn-block">Img with data</div>
  </article>
  
  <material-datepicker [(date)]="end_date"></material-datepicker>
  
</article>

